#formContainer input {
  width: 170px;
  height: 20px;
  padding: 2px;
}

#fullName {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 2px;
}

#fullName:hover {
  background-color: aliceblue;
}

#fullName:focus {
  background-color: aliceblue;
  border: none;
  border: 1px solid rgb(71, 169, 255);
}

#fullName:focus-visible {
  outline: none;
}

#nameLabel {
  color: darkslategray;
  position: absolute;
  padding-left: 5px;
  width: fit-content;
  left: 0px;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#firstInputContainer {
  position: relative;
  max-width: fit-content;
  margin: auto;
}

#fullName:focus + #nameLabel {
  top: -23px;
}

.activeInput {
  border: none;
  border: 1px solid rgb(71, 169, 255);
}

.inactiveInput {
  border: none;
  border: 1px solid darkslategray;
}

.activeNameLabel {
  top: -23px;
}

.inactiveNameLabel {
  top: 2px;
}

#emailLabel {
  position: absolute;
  top: -22px;
  padding-left: 5px;
}

.inputContainer {
  position: relative;
  max-width: fit-content;
  margin: auto;
  margin-top: 30px;
}

#email {
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#email:focus-visible {
  outline: none;
}

#email:hover {
  background-color: rgba(255, 255, 180, 0.562);
}

#email:focus {
  background-color: rgba(255, 255, 180, 0.562);
  border: 1px solid rgb(255, 255, 0);
  box-shadow: 0px 0px 10px rgb(255, 255, 180);
}

#password {
  border: none;
  border: 1px solid black;
  border-radius: 0px;
}

#password:focus {
  border: 2px solid black;
}

#password:focus-visible {
  outline: none;
}

#eyeIconContainer {
  position: absolute;
  top: 6px;
  right: 24px;
}

#eyeIcon {
  position: inherit;
}

#submit-button {
  color: white;
  font-size: medium;
  border: none;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: rgb(34, 34, 255);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  caret-color: transparent;
}

#submit-button:hover {
  background-color: blue;
  box-shadow: 0px 1px 3px rgb(91, 91, 255);
}
