@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

#hero {
  max-width: 1600px;
  height: 600px;
  position: relative;
  margin: auto;
}

#heroText {
  text-align: left;
  position: absolute;
  font-size: x-large;
  top: 40px;
  left: 30px;
  transition: all ease-in-out 0.3s;
}

#header {
  margin: 5px;
}

#subtext {
  margin: 5px;
  font-family: "Kalam", cursive;
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  #heroText {
    font-size: xx-large;
    top: 100px;
    left: 140px;
  }
}

@media screen and (min-width: 2000px) {
  #hero {
    max-width: 1800px;
  }
}

@media screen and (min-height: 1000px) {
  #hero {
    height: 900px;
  }
}
@media screen and (min-height: 1400px) {
  #hero {
    height: 1300px;
  }
}
